<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or "N1RWJ" }}</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <header>
        <div class="subtitle">QRZ.com page source for N1RWJ</div>
      </header>
      {{ content | safe }}
    </main>
    {% if source_repo %}
      <footer>
        Built from <a href="{{ source_repo }}">source</a>
      </footer>
    {% endif %}
  </body>
</html>
